# Data Round-Trip

In [1]:
import pandas as pd

## CSV

Read the CSV file `large_countries_2015.csv`

In [2]:
df = pd.read_csv('large_countries_2015.csv')
df

       Unnamed: 0    population  fertility      continent
0      Bangladesh  1.609956e+08       2.12           Asia
1          Brazil  2.078475e+08       1.78  South America
2           China  1.376049e+09       1.57           Asia
3           India  1.311051e+09       2.43           Asia
4       Indonesia  2.575638e+08       2.28           Asia
5           Japan  1.265735e+08       1.45           Asia
6          Mexico  1.270172e+08       2.13  North America
7         Nigeria  1.822020e+08       5.89         Africa
8        Pakistan  1.889249e+08       3.04           Asia
9     Philippines  1.006994e+08       2.98           Asia
10         Russia  1.434569e+08       1.61         Europe
11  United States  3.217736e+08       1.97  North America

## Excel

* Write the data into an Excel file
* Read the data again

In [3]:
df.to_excel('large_countries_2015.xls', sheet_name= 'large_countries', index= False)
df_excel = pd.read_excel('large_countries_2015.xls')
df_excel

       Unnamed: 0  population  fertility      continent
0      Bangladesh   160995642       2.12           Asia
1          Brazil   207847528       1.78  South America
2           China  1376048943       1.57           Asia
3           India  1311050527       2.43           Asia
4       Indonesia   257563815       2.28           Asia
5           Japan   126573481       1.45           Asia
6          Mexico   127017224       2.13  North America
7         Nigeria   182201962       5.89         Africa
8        Pakistan   188924874       3.04           Asia
9     Philippines   100699395       2.98           Asia
10         Russia   143456918       1.61         Europe
11  United States   321773631       1.97  North America

## JSON - Java Script Object Notation

* Write the data into a JSON file
* Read the data again

In [4]:
df_excel.to_json('large_countries_2015.json')

In [5]:
df_json = pd.read_json('large_countries_2015.json')

In [6]:
df_json

       Unnamed: 0  population  fertility      continent
0      Bangladesh   160995642       2.12           Asia
1          Brazil   207847528       1.78  South America
2           China  1376048943       1.57           Asia
3           India  1311050527       2.43           Asia
4       Indonesia   257563815       2.28           Asia
5           Japan   126573481       1.45           Asia
6          Mexico   127017224       2.13  North America
7         Nigeria   182201962       5.89         Africa
8        Pakistan   188924874       3.04           Asia
9     Philippines   100699395       2.98           Asia
10         Russia   143456918       1.61         Europe
11  United States   321773631       1.97  North America

## SQL

Install the library SQLAlchemy:

In [7]:
!pip install sqlalchemy

Requirement already satisfied: sqlalchemy in c:\programdata\anaconda3\lib\site-packages (1.3.13)

Create a connection to a new SQLite database:

In [8]:
from sqlalchemy import create_engine
db = create_engine('sqlite:///mydatabase.db')

Write the data into the database:

In [9]:
df = pd.DataFrame()
df.to_sql('countries', db)

Check that a database file has been created in your current working directory:

In [10]:
%ls

 Volume in drive C has no label.
 Volume Serial Number is C621-AF0B

 Directory of C:\Users\felig\Jupyter\01_repositories\logistic-lemongrass-student-code\01_week\01_pandas_intro

15/07/2020  09:26    <DIR>          .
15/07/2020  09:26    <DIR>          ..
15/07/2020  09:18    <DIR>          .ipynb_checkpoints
15/07/2020  09:19            62.661 01_exercise_pandas_basics.ipynb
14/07/2020  16:45            19.450 02_data_round_trip.ipynb
14/07/2020  14:20               432 large_countries_2015.csv
15/07/2020  09:26               683 large_countries_2015.json
15/07/2020  09:25             5.632 large_countries_2015.xls
15/07/2020  09:26            12.288 mydatabase.db
               6 File(s)        101.146 bytes
               3 Dir(s)  371.797.229.568 bytes free

Inspect the file that was created in a text editor. Do not spend more than 1-2 minutes on this.

*Dont worry if this is completely new to you. We will cover SQL later in the course*

You'll need a GUI program that can actually display sqllite files. e.g. DBeaver, or perhaps something like this: https://sqlitebrowser.org/