In [21]:
import numpy as np
import pandas as pd
import seaborn as sns
from matplotlib import pyplot as plt

%matplotlib inline

In [31]:
df = pd.read_csv('../../01_What_is_Machine_Learning/_RES/train.csv', index_col=0)
df.shape

(891, 11)

In [32]:
df.head()

,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
PassengerId,,,,,,,,,,,
1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [33]:
from sklearn.tree import DecisionTreeClassifier, plot_tree
from sklearn.model_selection import train_test_split

In [35]:
df['Survived']

PassengerId
1      0
2      1
3      1
4      1
5      0
      ..
887    0
888    1
889    0
890    1
891    0
Name: Survived, Length: 891, dtype: int64

In [44]:
X = df
y = df['Survived']

In [45]:
Xtrain, Xtest, ytrain, ytest = train_test_split(X, y, test_size=0.7, random_state=23)

In [46]:
print(Xtrain.shape, ytrain.shape, Xtest.shape, ytest.shape)

(267, 11) (267,) (624, 11) (624,)

In [47]:
Xtrain_eng = Xtrain
Xtest_eng = Xtest

In [48]:
Xtrain_eng.drop(['Cabin'], axis=1, inplace= True)
Xtest_eng.drop(['Cabin'], axis=1, inplace= True)

In [49]:
age_median = Xtrain_eng['Age'].median()
age_median

29.0

In [50]:
Xtrain_eng['Age'].fillna(age_median, inplace= True)

/home/snay/anaconda3/lib/python3.7/site-packages/pandas/core/generic.py:6245: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._update_inplace(new_data)

In [51]:
Xtrain_eng[Xtrain_eng['Embarked'].isna() == True]

Empty DataFrame
Columns: [Survived, Pclass, Name, Sex, Age, SibSp, Parch, Ticket, Fare, Embarked]
Index: []

In [54]:
Xtrain_eng.isna().sum()

Survived    0
Pclass      0
Name        0
Sex         0
Age         0
SibSp       0
Parch       0
Ticket      0
Fare        0
Embarked    0
dtype: int64

In [55]:
Xtrain_eng[(Xtrain_eng['Survived'] == 1) & (Xtrain_eng['Pclass'] == 1) & (Xtrain_eng['Sex'] == 'female') & (Xtrain_eng['SibSp'] == 0) & (Xtrain_eng['Parch'] == 0)].sort_values(by=['Fare'])['Embarked'].mode()

0    C
dtype: object

In [56]:
Xtrain_eng['Embarked'].fillna('C', inplace= True)

/home/snay/anaconda3/lib/python3.7/site-packages/pandas/core/generic.py:6245: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._update_inplace(new_data)

In [57]:
Xtrain_eng.isna().sum()

Survived    0
Pclass      0
Name        0
Sex         0
Age         0
SibSp       0
Parch       0
Ticket      0
Fare        0
Embarked    0
dtype: int64

In [58]:
from sklearn.metrics import accuracy_score
from sklearn.dummy import DummyClassifier

m = DummyClassifier(strategy='most_frequent')
m.fit(Xtrain, ytrain)
ypred = m.predict(Xtrain)
f"Dummy Accuracy Train: {round(accuracy_score(ypred, ytrain)*100, 1)}"

'Dummy Accuracy Train: 60.3'

In [59]:
ypred = m.predict(Xtest)
f"Dummy Accuracy Test: {round(accuracy_score(ypred, ytest)*100, 1)}"

'Dummy Accuracy Test: 62.2'

# Logistic Regression

In [60]:
from sklearn.linear_model import LogisticRegression

In [61]:
m = LogisticRegression(random_state=23)

In [63]:
Xtrain

,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Embarked
PassengerId,,,,,,,,,,
456,1,3,"Jalsevac, Mr. Ivan",male,29.0,0,0,349240,7.8958,C
502,0,3,"Canavan, Miss. Mary",female,21.0,0,0,364846,7.7500,Q
240,0,2,"Hunt, Mr. George Henry",male,33.0,0,0,SCO/W 1585,12.2750,S
145,0,2,"Andrew, Mr. Edgardo Samuel",male,18.0,0,0,231945,11.5000,S
454,1,1,"Goldenberg, Mr. Samuel L",male,49.0,1,0,17453,89.1042,C
...,...,...,...,...,...,...,...,...,...,...
32,1,1,"Spencer, Mrs. William Augustus (Marie Eugenie)",female,29.0,1,0,PC 17569,146.5208,C
489,0,3,"Somerton, Mr. Francis William",male,30.0,0,0,A.5. 18509,8.0500,S
41,0,3,"Ahlin, Mrs. Johan (Johanna Persdotter Larsson)",female,40.0,1,0,7546,9.4750,S
743,1,1,"Ryerson, Miss. Susan Parker ""Suzette""",female,21.0,2,2,PC 17608,262.3750,C
596,0,3,"Van Impe, Mr. Jean Baptiste",male,36.0,1,1,345773,24.1500,S

In [62]:
m.fit(Xtrain, ytrain)

ValueError: could not convert string to float: 'S'

In [ ]:
m.coef_

In [ ]:
m.intercept_

In [ ]:
round(m.score(Xtrain, ytrain)*100, 1)

In [ ]:
ypred = m.predict(Xtrain)
round(accuracy_score(ypred, ytrain)*100, 1)

In [ ]:
round(m.score(Xtest, ytest)*100, 1)

In [ ]:
ypred = m.predict(Xtest)
round(accuracy_score(ypred, ytest)*100, 1)

# Decision Tree

In [ ]:
m = DecisionTreeClassifier(max_depth=6)

In [ ]:
m.fit(Xtrain, ytrain)
ypred = m.predict(Xtrain)
round(accuracy_score(ypred, ytrain)*100, 1)

In [ ]:
m.fit(Xtest, ytest)
ypred = m.predict(Xtest)
round(accuracy_score(ypred, ytest)*100, 1)

In [ ]:
from sklearn.metrics import classification_report

In [ ]:
print(classification_report(ytest, ypred))

In [ ]:
plt.figure(figsize=(12, 8))
t = plot_tree(m, class_names=['Dead', 'Alive'])  # creates a matplotlib figure

# Random Forests

In [ ]:
from sklearn.ensemble import RandomForestClassifier

In [ ]:
m = RandomForestClassifier(n_estimators=100, max_depth=7, random_state=23)
m.fit(Xtrain, ytrain)
round(m.score(Xtrain, ytrain)*100, 1)

In [ ]:
m.fit(Xtest, ytest)
round(m.score(Xtest, ytest)*100, 1)

In [ ]:
m